<div class="slider">
  <label for="volume-slider" class="slider__label">Volume Control</label>
  <div class="slider__track">
    <input
      type="range"
      id="volume-slider"
      class="slider__input"
      min="0"
      max="100"
      value="75"
    >
  </div>
  <output for="volume-slider" class="slider__output">75</output>
</div>

<div class="slider">
  <label for="brightness-slider" class="slider__label">Brightness</label>
  <div class="slider__track">
    <input
      type="range"
      id="brightness-slider"
      class="slider__input"
      min="0"
      max="100"
      value="50"
    >
  </div>
  <div class="slider__labels">
    <span>Low</span>
    <span>High</span>
  </div>
  <output for="brightness-slider" class="slider__output">50</output>
</div>
