/* State classes - structure only in base layer */

.is-active {
  /* Theme layer will style */
}

.is-loading {
  cursor: wait;
  opacity: 0.6;
}

.is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.is-hidden {
  display: none !important;
}

.has-error {
  /* Theme layer will style */
}

.has-success {
  /* Theme layer will style */
}

.has-warning {
  /* Theme layer will style */
}
