/* Alert base structure - browser default with border */

.alert {
  display: block;
  padding: 1em;
  border: 2px solid #000;
  margin-bottom: 1em;
}

.alert__title {
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

.alert__message {
  margin: 0;
}

/* Alert variants - structure only */
.alert--success,
.alert--warning,
.alert--error,
.alert--info {
  /* Theme layer will style these */
}
